<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
<head>
    <title>Pelican Readtime Plugin - I-Kang's Notes</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



<link rel="canonical" href="https://ikding.github.io/pelican-readtime-plugin.html">

        <meta name="author" content="I-Kang Ding" />
        <meta name="keywords" content="data_science" />
        <meta name="description" content="How to use pelican readtime plugin in Pelican static site generator" />

        <meta property="og:site_name" content="I-Kang's Notes" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="Pelican Readtime Plugin"/>
        <meta property="og:url" content="https://ikding.github.io/pelican-readtime-plugin.html"/>
        <meta property="og:description" content="How to use pelican readtime plugin in Pelican static site generator"/>
        <meta property="article:published_time" content="2020-04-18" />
            <meta property="article:section" content="data_science" />
            <meta property="article:tag" content="data_science" />
            <meta property="article:author" content="I-Kang Ding" />



    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://ikding.github.io/theme/css/bootstrap.yeti.min.css" type="text/css"/>
    <link href="https://ikding.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://ikding.github.io/theme/css/pygments/monokai.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ikding.github.io/theme/css/style.css" type="text/css"/>



</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://ikding.github.io/" class="navbar-brand">
I-Kang's Notes            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/pages/about-me.html">About Me</a></li>
                    <li><a href="/resume/">Resume</a></li>
                    <li><a href="/tag/career.html">Career Development</a></li>
                    <li><a href="/tag/data_science.html">Data Science</a></li>
                    <li><a href="/tag/climate_tech.html">Climate Tech</a></li>
                    <li><a href="/tag/misc.html">Misc</a></li>
                    <li><a href="/archives.html">Archives</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

<!-- Banner -->
<!-- End Banner -->

<!-- Content Container -->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="https://ikding.github.io/pelican-readtime-plugin.html"
                       rel="bookmark"
                       title="Permalink to Pelican Readtime Plugin">
                        Pelican Readtime Plugin
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2020-04-18T00:00:00-04:00"> 2020-04-18 (Sat)</time>
    </span>
        <span class="label label-default">Read time</span>
        <span class="published">
            <i class="fa fa-hourglass"></i> 2 min</span>





<span class="label label-default">Tags</span>
	<a href="https://ikding.github.io/tag/data_science.html">data_science</a>
    
</footer><!-- /.post-info -->                    </div>
                </div>
                <p>In the beginning of 2020, I started a goal of writing more professionally. I did not like the idea of putting my blog articles in pay-wall sites such as medium, so I decided to use my own static site generator and host my blog in GitHub pages.</p>
<p>In picking a <a class="reference external" href="https://www.fullstackpython.com/static-site-generator.html">static site generator</a>, I have poked around at a few libraries out there, and landed on <a class="reference external" href="https://blog.getpelican.com">Pelican</a>. This, in retrospect, was an obvious choice because among the Python static generators (<a class="reference external" href="https://blog.getpelican.com">pelican</a>, <a class="reference external" href="https://github.com/lektor/lektor">lektor</a>, <a class="reference external" href="https://github.com/getnikola/nikola">nikola</a>), pelican has been around for a long time, and has an extensive <a class="reference external" href="https://github.com/getpelican/pelican-plugins">plugin</a> system.</p>
<p>The plugin I want to talk in this post is the <a class="reference external" href="https://github.com/getpelican/pelican-plugins/tree/master/readtime">readtime</a> plugin. From the plugin's own site:</p>
<blockquote>
An article estimated read time plugin for Pelican static site generator. After Pelican generated the content of each page, the plugin read through the generated HTML content and strip all the tags, count all the word, then utilize average human read speed to calculate the read time of each article. The read time is passed over to the 'content' object of the article so Jinja template can use it to display the read time on wherever appropriate.</blockquote>
<p>It's a short and sweet plugin, but it took some time to make it work with my site. So I figured that I'll writeup what worked for me, in case it helps others in the future.</p>
<p>First, I have added plugin name to the <tt class="docutils literal">pelicanconf.py</tt> file:</p>
<div class="highlight"><pre><span></span><span class="n">PLUGINS</span><span class="o">=</span><span class="p">[</span> <span class="o">...</span> <span class="p">,</span> <span class="s1">&#39;pelican-readtime&#39;</span><span class="p">]</span>
</pre></div>
<p>Then, you can put the following code in whichever template you want. I was using <a class="reference external" href="https://github.com/getpelican/pelican-themes/tree/master/pelican-bootstrap3">pelican-bootstrap3</a> template, so I put the following <a class="reference external" href="https://github.com/ikding/website/blob/ac1713ac475f3c927f54ac3da339ac1819623d22/pelican-themes/pelican-bootstrap3/templates/includes/article_info.html#L6-L10">code block</a> in my <tt class="docutils literal">article_info.html</tt>:</p>
<div class="highlight"><pre><span></span>{% if article.readtime %}
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;label label-default&quot;</span><span class="p">&gt;</span>Read time<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;published&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">i</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;fa fa-hourglass&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">i</span><span class="p">&gt;</span> {{article.readtime.minutes}} min.<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
{% endif %}
</pre></div>
<p>I also added the following <a class="reference external" href="https://github.com/ikding/website/blob/ac1713ac475f3c927f54ac3da339ac1819623d22/pelican-themes/pelican-bootstrap3/templates/archives.html#L20-L22">code block</a> to <tt class="docutils literal">archives.html</tt>:</p>
<div class="highlight"><pre><span></span>{% if article.readtime %}
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;categories-timestamp&quot;</span><span class="p">&gt;</span>({{article.readtime.minutes}} min read)<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
{% endif %}
</pre></div>
<p>And that's all there is to it! After you had the readtime properly configured, you will be able to see the read time of your articles in the article page:</p>
<img alt="readtime-article-page" class="align-center" src="https://user-images.githubusercontent.com/7269845/79665216-60072000-8183-11ea-8d3f-c08577d095f9.png" style="width: 600px;" />
<p>... as well as the archive page:</p>
<img alt="readtime-article-page" class="align-center" src="https://user-images.githubusercontent.com/7269845/79665208-5f6e8980-8183-11ea-834b-bdc30dad4048.png" style="width: 800px;" />

            </div>
            <!-- /.entry-content -->
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'ikding'; // required: replace example with your forum shortname

            var disqus_config = function () {
                this.language = "en";

                        this.page.identifier = '2020-04-18-pelican-readtime-plugin';
                        this.page.url = 'https://ikding.github.io/pelican-readtime-plugin.html';
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>
        </article>
    </section>

        </div>
        <div class="col-sm-3" id="sidebar">
            <aside>
<div id="aboutme">
        <p>
            <img width="100%" class="img-thumbnail" src="https://ikding.github.io//images/profile.jpg"/>
        </p>
    <p>
      <strong>About I-Kang Ding</strong><br/>
        
Doing data mining on mining data at KoBold Metals.
Stanford Engineering Ph.D.
<br/>
<br/>
Interested in machine learning, Python, and climate change.

    </p>
</div><!-- Sidebar -->
<section class="well well-sm">
  <ul class="list-group list-group-flush">

<!-- Sidebar/Social -->
<li class="list-group-item">
  <h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Social</span></h4>
  <ul class="list-group" id="social">
    <li class="list-group-item"><a href="https://github.com/ikding"><i class="fa fa-github-square fa-lg"></i> GitHub</a></li>
    <li class="list-group-item"><a href="https://twitter.com/ikding"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/ikding"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></li>
  </ul>
</li>
<!-- End Sidebar/Social -->

<!-- Sidebar/Github -->
<li class="list-group-item">
  <h4><i class="fa fa-github fa-lg"></i><span class="icon-label">GitHub Repos</span></h4>
  <div id="gh_repos">
    <p class="list-group-item">Status updating...</p>
  </div>
  <a href="https://github.com/ikding">@ikding</a> on GitHub
</li>
<!-- End Sidebar/Github -->
  </ul>
</section>
<!-- End Sidebar -->            </aside>
        </div>
    </div>
</div>
<!-- End Content Container -->

<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2020 I-Kang Ding
            &middot; Powered by <a href="https://github.com/getpelican/pelican-themes/tree/master/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="https://ikding.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://ikding.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="https://ikding.github.io/theme/js/respond.min.js"></script>



<!-- GitHub JS Code -->
<script type="text/javascript">
$(document).ready(function () {
  if (!window.jXHR) {
    var jxhr = document.createElement('script');
    jxhr.type = 'text/javascript';
    jxhr.src = 'https://ikding.github.io/theme/js/jXHR.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(jxhr, s);
  }

  github.showRepos({
    user: 'ikding',
    count: 3,
    skip_forks: true,
    target: '#gh_repos'
  });
});
</script>
<script src="https://ikding.github.io/theme/js/github.js" type="text/javascript"></script>
<!-- End GitHub JS Code -->
    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ikding'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- End Disqus Code -->
    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19568221-4']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- End Google Analytics Code -->


</body>
</html>